In [1]:
a=3

In [5]:
a

3

section A basic things

In [6]:
#hello world

In [7]:
print("hello world")

hello world

In [ ]:
#role of triple quotes

In [9]:
print('''I am bhagwati ,
i am here to learn python''')

I am bhagwati ,
i am here to learn python

**Modules**

In [12]:
import os

In [13]:
print(os.listdir())

['.ipynb_checkpoints', 'python lesson 1.ipynb']

# 5 basic data types

string,integer,float,bollean,none

In [ ]:
#type casting means changing the data type of one variable to another ,'if it s posible'

In [14]:
b=24

In [15]:
b=str(b)

In [16]:
type(b)

str

# **mathemetical things**

In [17]:
#modulo remainder very useful in coupon cashflow
10%3

1

In [18]:
#last integer value (it is used to find the last  integer is called floor)
10//3

3

In [19]:
a=19

In [20]:
print("my name is",a)

my name is 19

# ***strings***
 1. create a string
 2. print a string
 3. string indexing and slicing
 4. string properties
 5. methods

In [22]:
#escaped character means if you use those charaters in your quote they will not come directly they have 
#some features associated with them

In [24]:
print("my name is \n bhagwati mathpal")
#here\n is an ascaped character

my name is
 bhagwati mathpal

In [25]:
print("my name is \t bhagwati mathpal")
#here\t is an ascaped character it will create a gap between string

my name is 	 bhagwati mathpal

In [27]:
#if i want to write something without escaping an escape character
print(r"my name is \n\t bhagwati mathpal")
#here\n and \t are  ascaped characters

my name is \n\t bhagwati mathpal

# string indexing and slicing

In [30]:
name="Bhagwati mathpal"

In [31]:
name[2]

'a'

In [32]:
#from start indexing will start from 0and from end it will start from -1,-2 and so on

In [33]:
name[-1]

'l'

In [35]:
name[-2]

'a'

In [36]:
#slicing

In [37]:
name

'Bhagwati mathpal'

In [38]:
name[0:4]
#it will extract only till index 3 it will leave index 4

'Bhag'

In [40]:
name[2:6]

'agwa'

In [41]:
name[0:8:2]
#first colon is for starting value and the second colon is for stepping value

'Bawt'

In [42]:
#can we print a string backword
name[::-1]

'laphtam itawgahB'

In [44]:
#string properties
#string is immutable
name[0]="k"
#it will give error

TypeError: 'str' object does not support item assignment

In [45]:
#concatenation
y=name + " is a female name"

In [46]:
y

'Bhagwati mathpal is a female name'

In [ ]:
#methods

In [ ]:
#splitting a string

In [47]:
y.split()
#here the string y will split on the basis of space charactor

['Bhagwati', 'mathpal', 'is', 'a', 'female', 'name']

In [50]:
#if we want to split it on the basis of o
y.split("a")

['Bh', 'gw', 'ti m', 'thp', 'l is ', ' fem', 'le n', 'me']

In [52]:
y.replace("female name","strong soul")

'Bhagwati mathpal is a strong soul'

In [55]:
#join
"_".join(y)

'B_h_a_g_w_a_t_i_ _m_a_t_h_p_a_l_ _i_s_ _a_ _f_e_m_a_l_e_ _n_a_m_e'

In [ ]:
#print foramting

In [56]:
#there are 2 methods 1. f string 2. dot formate method

In [ ]:
#f string

In [57]:
user="tejas"

In [59]:
print(f"my name is {user}")

my name is tejas

In [ ]:
#.format

In [60]:
print("hi my name is {}".format(user))

hi my name is tejas